<%- include("../partials/header") %>

<div class="container">
    <h1 class="Title" data-aos="zoom-in" data-aos-duration="1000">Update Achievement</h1>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/users/<%= user_id %>/achievements/<%= achieve._id %>?_method=PUT" method="post">
                <div class="form-group" data-aos="fade-right" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Date</h6>
                    <input class="form-control" type="date" name="achieve[date]" value="<%= achieve.date ? achieve.date : '' %>">
                </div>
                <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Details</h6>
                    <input class="form-control" type="text" name="achieve[detail]" value="<%= achieve.detail ? achieve.detail : '' %>" placeholder="Add Details">
                </div>
                <div class="form-group" data-aos="zoom-in" data-aos-duration="2000">
                    <button class="btn btn-md btn-block btn-outline-success" type="submit">Update Achievement</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>