<%- include("../partials/header") %>

<div class="container" data-aos="flip-left" data-aos-duration="2000">
    <h1 class="text-primary text-center">Update <%= feed.title %></h1>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/<%= feed._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <h6 class="text-warning text-center">Title</h6>
                    <input class="form-control" type="text" name="feed[title]" placeholder="What's on Your Mind??" value="<%= feed.title %>">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Image</h6>
                    <input class="form-control" type="text" name="feed[image]" placeholder="Image" value="<%= feed.image %>">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Details</h6>
                    <input class="form-control" type="text" name="feed[description]" placeholder="Description" value="<%= feed.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-block btn-outline-success" type="submit">Update Feed</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>