<%- include("../partials/header") %>

<div class="row my-3" data-aos="flip-left" data-aos-duration="2000">
    <div class="col-lg-6">
      <div class="d-flex flex-row justify-content-center">
        <img src="<%= user.avatar %>" class="rounded-circle" style="height: 30vh;">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container">
        <div class="jumbotron">
          <h4 class="Title"><%= user.firstName %> <%= user.lastName %></h4>
          <ul>
            <li class="my-sm-4"><%= user.occupation ? user.occupation : "Tell Us What You Currently Do??" %></li>
            <% if(currentUser && user._id.equals(currentUser._id)){ %>
              <li><a href="/users/<%= user._id %>/edit" class="btn btn-xs btn-outline-primary"><i class="fas fa-pen-nib"></i></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-aos="flip-right" data-aos-duration="2000">
        <div class="col-lg-6">
        <div class="container">
            <div class="jumbotron">
            <h4 class="text-center mb-3">Achievements</h4>
            <% if(currentUser && user._id.equals(currentUser._id)){ %>
              <form class="form-inline" action="/users/<%= user._id %>/achievement" method="post">
                <div class="form-group mb-2">
                  <label class="text-warning text-center"><h5 class="text-center">Date: </h5></label>
                    <input class="form-control text-light" type="date" name="achieve[date]">
                </div>
                <div class="form-group mb-2 mx-sm-3">
                  <label class="text-warning"><h5 class="text-center">Details : </h5></label>
                    <input class="form-control" type="text" name="achieve[detail]" placeholder="Add Details">
                </div>
                <button class="btn btn-outline-success mb-2" type="submit"><i class="fas fa-plus-circle"></i></button>
            </form>
            <% } %>
            <ul>
                <% user.achievement.forEach(function(ach){ %>
                    <li class="my-sm-2"><%= ach.detail %> - <%= ach.date %></li>
                    <% if(currentUser && user._id.equals(currentUser._id)){ %>
                      <a href="/users/user._id/achievements/<%= ach._id %>/edit" class="btn btn-outline-warning btn-xs"><i class="fas fa-edit"></i></a>
                      <form class="d-inline" action="/users/<%= user._id %>/achievements/<%= ach._id %>?_method=DELETE" method="post">
                          <button type="submit" class="btn btn-xs btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    <% } %>
                <% }); %>
            </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="container">
            <div class="jumbotron">
            <h4 class="text-center mb-3">News and Updates</h4 class="text-center mb-5">
              <% if(currentUser && user._id.equals(currentUser._id)){ %>
                <form class="form-inline" action="/users/<%= user._id %>/news" method="post">
                  <div class="form-group mb-2">
                    <label class="text-warning text-center"><h5 class="text-center">Date: </h5></label>
                      <input class="form-control" type="date" name="news[date]">
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <label class="text-warning text-center"><h5 class="text-center">Details : </h5></label>
                      <input class="form-control" type="text" name="news[detail]" placeholder="Add Details">
                  </div>
                  <div class="form-group mb-2">
                      <button class="btn btn-xs btn-outline-warning" type="submit"><i class="fas fa-plus-circle"></i></button>
                  </div>
                </form>
              <% } %>
            <ul>
                <% user.news.forEach(function(news){ %>
                  <li class="my-sm-2"><%= news.detail %> on <%= news.date %></li>
                  <% if(currentUser && user._id.equals(currentUser._id)){ %>
                    <a href="/users/<%= user._id %>/news/<%= news._id %>/edit" class="btn btn-outline-warning btn-xs"><i class="fas fa-edit"></i></a>
                    <form class="d-inline" action="/users/<%= user._id %>/news/<%= news._id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-xs btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  <% } %>
                <% }); %>
            </ul>
            </div>
        </div>
        </div>
  </div>
  <div class="row justify-content-center" data-aos="flip-left" data-aos-duration="2000">
    <div class="col-md-8">
      <div class="container">
        <div class="jumbotron">
          <h4 class="text-center mb-5">TimeLine</h4>
          <ul>
            <% feed.reverse().forEach(function(feed){ %>
                <li>
                    <h3 class="Title"><%= feed.title %></h3>
                    <p><%= feed.description %></p>
                </li>
            <% }); %>
            
          </ul>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>