<%- include("../partials/header") %>

<div class="container">
    <h1 class="Title" data-aos="zoom-in" data-aos-duration="1000">Update Your Profile <%= user.username %></h1>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/users/<%= user._id %>?_method=PUT" method="post">
                <div class="form-group" data-aos="fade-right" data-aos-duration="2000">
                    <h6 class="text-warning text-center">First Name</h6>
                    <input class="form-control" type="text" name="user[firstName]" placeholder="First Name" value="<%= user.firstName ? user.firstName : '' %>">
                </div>
                <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Last Name</h6>
                    <input class="form-control" type="text" name="user[lastName]" placeholder="Last Name" value="<%= user.lastName ? user.lastName : '' %>">
                </div>
                <div class="form-group" data-aos="fade-right" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Avatar</h6>
                    <input class="form-control" type="text" name="user[avatar]" placeholder="Avatar" value="<%= user.avatar ? user.avatar : '' %>">
                </div>
                <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Place</h6>
                    <input class="form-control" type="text" name="user[place]" placeholder="Where are you From?" value="<%= user.place ? user.place : '' %>">
                </div>
                <div class="form-group" data-aos="fade-right" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Email</h6>
                    <input class="form-control" type="email" name="user[email]" placeholder="Email" value="<%= user.email ? user.email : '' %>">
                </div>
                <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
                    <h6 class="text-warning text-center">Occupation</h6>
                    <input class="form-control" type="text" name="user[occupation]" placeholder="Occupation" value="<%= user.occupation ? user.occupation : '' %>">
                </div>
                <div class="form-group" data-aos="zoom-in" data-aos-duration="2000">
                    <button class="btn btn-sm btn-block btn-outline-success" type="submit">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>